<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
<IfModule mod_headers.c>
    <FilesMatch "\.(ico|jpg|jpeg|png|gif|css|svg|woff2)$">
        Header set Cache-Control "max-age=2678400, public"
    </FilesMatch>
    <FilesMatch "\.(html|htm)$">
        Header set Cache-Control "max-age=7200, private, must-revalidate"
    </FilesMatch>
    <FilesMatch "\.(pdf)$">
        Header set Cache-Control "max-age=86400, public"
    </FilesMatch>
    <FilesMatch "\.js$">
        Header set Cache-Control "max-age=2678400, private"
    </FilesMatch>
</IfModule>